{% load static %}
<div id="choose-algo" class="fixed inset-0 flex items-center justify-center z-50 modal bg-gray-800 bg-opacity-80 hidden">
    <div class="w-250 max-w-2xl max-h-full bg-opacity-75 rounded-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <!-- Modal header -->
            <div class="flex items-center justify-center p-4 rounded-t">
                <h3 class="text-2xl font-semibold text-[#212121]">Choose Algorithm</h3>
            </div>
            <!-- Modal body -->
            <div class="p-4 space-y-4">
                <div class="grid grid-cols-2 justify-items-center">
                    <div class="modal-algo flex flex-col space-y-2">
                        <label class="label">
                            <input type="radio" name="algorithm" value="FIFO" class="mr-2">
                            FIFO
                        </label>
                        <label class="label">
                            <input type="radio" name="algorithm" value="SSTF" class="mr-2">
                            SSTF
                        </label>
                        <label class="label">
                            <input type="radio" name="algorithm" value="SCAN" class="mr-2">
                            SCAN
                        </label>
                    </div>
                    <div class="modal-algo flex flex-col space-y-2">
                        <label class="label">
                            <input type="radio" name="algorithm" value="C-SCAN" class="mr-2">
                            C-SCAN
                        </label>
                        <label class="label">
                            <input type="radio" name="algorithm" value="LOOK" class="mr-2">
                            LOOK
                        </label>
                        <label class="label">
                            <input type="radio" name="algorithm" value="C-LOOK" class="mr-2">
                            C-LOOK
                        </label>
                    </div>
                </div>                
            </div>
            <!-- Modal footer -->
            <div class="flex flex-col sm:flex-row sm:justify-center items-center my-4">
                <button
                    data-modal-target="#choose-algo"
                    data-modal-toggle="defaultModal"
                    type="submit"
                    id="show-compute-btn"
                    class="clear mx-4"
                >
                    Show and Compute
                </button>
                <button
                    id="cancel-btn"
                    type="button"
                    class="clear mx-4"
                >
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

