.modal-content{
    display: relative;
    height: full;
    border-radius: 30px;
    background: #f2f2f3;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
              inset -5px -5px 10px #ffffff7e;
    overflow-y: auto;
    margin-top: 1rem;
}

.modal-algo .label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
}
  
.modal-algo .label:hover,
.modal-algo .label:focus-within,
.modal-algo .label:active {
    background: hsla(0, 0%, 80%, .14);
    box-shadow: -5px -5px 8px #ffffff7a, 
              5px 5px 8px #a9a9aa7a;
}

.modal-algo .label input[type="radio"]:checked + label {
    background-color: rgb(67, 67, 91);
    border-color: rgb(40, 40, 53);
  }