@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&family=Quicksand:wght@400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #e8e8e8;
    font-family: 'Quicksand', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

}
.title{
    color: #212121;
    font-size: 2rem;
    font-weight: bolder;
}


.job-input .input {
    border: none;
    border-radius: 2rem;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: -6px -6px 8px #ffffff7a, 
              6px 6px 8px #a9a9aa7a;
    font-size: medium;
    font-weight: bold;
    max-width: 400px;  
}

.job-input .input:focus{
    outline-color: white;
}

.job-input{
    display: relative;
    z-index: 0;
    margin: 0.5rem;

}
.float-input{
    display: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: #212121;
    transition-duration: 300ms;
    transform: none;
    transform: translateY(-6px);
    transform: scale(0.75);
    top: 3px;
    z-index: -10;
    transform: origin;
    left: 0;
}
.card {
    height: full;
    border-radius: 30px;
    background: #f2f2f3;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
              inset -5px -5px 10px #ffffff7e;
    overflow-y: auto;
    margin-top: 1rem;
}

.card .m-2{
    color: #212121;
    text-align: center;
}

.job-arrival{
    border: none;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: -5px -5px 8px #ffffff7a, 
              5px 5px 8px #a9a9aa7a;
    font-size: medium;
    font-weight: bold;
    max-width: 400px; 
}

.m-5 .arrival{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: -5px -5px 8px #ffffff7a, 
              5px 5px 8px #a9a9aa7a;
    font-size: medium;
    font-weight: bold;
    max-width: 400px; 
}
.card2 {
    height: full;
    border-radius: 12px;
    background: #f2f2f3;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
              inset -5px -5px 10px #ffffff7e;
    overflow-y: auto;
    margin-top: 1rem;
}
.card2 .m-2{
    color: #212121;
}

.relative .block{
    color: #212121;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border-radius: 10px;
    background: transparent;
    margin-bottom: 0.4em;
    box-shadow: -6px -6px 8px #ffffff7a, 
              6px 6px 8px #a9a9aa7a;
}

.clear-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 4rem;
}

.clear {
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: -6px -6px 8px #ffffff7a, 
              6px 6px 8px #a9a9aa7a;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}
.choose-btn{
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: -6px -6px 8px #ffffff7a, 
              6px 6px 8px #a9a9aa7a;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}
.choose-btn .algo-text{
    color: #212121;
    font-weight: bold;
    font-size: medium;
}
.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.list-job{
    align-items: center;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: -5px -5px 8px #ffffff7a, 
              5px 5px 8px #a9a9aa7a;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
}




